<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add the user</title>
</head>
<body>
    <h1>This  new user is being added :</h1>
    <form method="POST" action="/user">
        <input type="text" name="id" placeholder="enter id">
        <input type="text" name="username" placeholder="enter username"><br><br>
        <input type="email" name="email" placeholder="enter email-id">
        <input type="password" name="password" placeholder="entr password">
        <button>Submit</button>

    </form>
</body>
</html>