<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WARNING !</title>
    <style>
        h1{
            color: red;
            text-align: center;
        }
        a{
        
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1> WRONG PASSWORD !:<%=formPass%></h1>
    <a href="/users">Back To Home Page</a>
</body>
</html>